.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {
	display: initial;
}

.video-js .vjs-duration,
.vjs-no-flex .vjs-duration {
	display: initial;
}

.vjs-control.progress-control-bar {
	display: none;
	width: 100%;
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #2b333f;
	background-color: rgba(43, 51, 63, 0.7);
}

#video > div.vjs-control-bar {
	height: 50px;
	align-content: center;
	justify-content: space-between;
}

.vjs-control.progress-control-bar.has-started {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition: visibility 0.1s, opacity 0.1s;
}

.vjs-control.progress-control-bar.has-started.vjs-user-active,
.vjs-title-content.vjs-user-active,
#video > div.vjs-controls.vjs-top-bar.vjs-user-active {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition: visibility 0.1s, opacity 0.1s;
}

#video > div.vjs-controls.vjs-top-bar.vjs-user-active {
	display: grid;
}

.vjs-control.progress-control-bar.has-started.vjs-user-inactive,
.vjs-title-content.vjs-user-inactive,
#video > div.vjs-controls.vjs-top-bar.vjs-user-inactive {
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 1s;
}

#video > div.vjs-poster {
	position: relative;
}

.vjs-title-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.vjs-title-text {
	font-size: 24px;
	font-weight: 700;
	padding: 0;
	margin: 8px 0 4px 0;
	text-align: center;
}

.vjs-subtitle-text {
	font-size: 20px;
	padding: 0;
	margin: 4px 0 8px 0;
	text-align: center;
}

.vjs-current-time.vjs-time-control.vjs-control {
	position: absolute;
	left: 0;
	top: -24px;
	z-index: 2;
}

.vjs-duration.vjs-time-control.vjs-control {
	position: absolute;
	right: 0;
	top: -24px;
	z-index: 2;
}

.vjs-control.vjs-button {
	height: 50px;
	width: 50px;
	z-index: 3;
	font-size: 1.75em;
	position: relative;
}

.vjs-controls.vjs-top-bar {
	position: absolute;
	top: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'closed-caption title fullscreen'
		'subtitle subtitle subtitle';
	background-color: #2b333f;
	background-color: rgba(43, 51, 63, 0.7);
}

#video
	> div.vjs-controls.vjs-top-bar
	> div.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
	grid-area: closed-caption;
}

#video > div.vjs-controls.vjs-top-bar > div.vjs-title {
	grid-area: title;
}

#video > div.vjs-controls.vjs-top-bar > div.vjs-subtitle {
	grid-area: subtitle;
}

#video > div.vjs-controls.vjs-top-bar > .vjs-fullscreen-control.vjs-control.vjs-button {
	grid-area: fullscreen;
}

#video
	> div.vjs-controls.vjs-top-bar
	> div.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button
	> div
	> ul {
	background-color: #2b333f;
	width: 100%;
	max-height: 15em;
	position: relative;
}

#video
	> div.vjs-controls.vjs-top-bar
	> div.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button
	> div {
	bottom: -50px;
	left: 8px;
}

#video > div.vjs-modal-dialog.vjs-text-track-settings > div {
	background-color: #2b333f;
	z-index: 4;
}

#video > div.vjs-modal-dialog.vjs-text-track-settings > button {
	z-index: 4;
}

#video
	> div.vjs-control-bar
	> div.vjs-playback-rate.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button
	> div.vjs-menu
	> ul {
	max-height: fit-content;
	background-color: #2b333f;
	bottom: 16px;
}

#video
	> div.vjs-control-bar
	> div.vjs-playback-rate.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
	margin-left: 16px;
	text-align: left;
}

#video
	> div.vjs-control-bar
	> div.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button.vjs-max-quality-selector-button {
	margin-right: 24px;
}

#video
	> div.vjs-control-bar
	> div.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button.vjs-max-quality-selector-button
	> div {
	left: initial;
	right: -8px;
}

#video
	> div.vjs-control-bar
	> div.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button.vjs-max-quality-selector-button
	> div
	> ul {
	max-height: fit-content;
	background-color: #2b333f;
	bottom: 16px;
}

#video > button.vjs-big-play-button {
	display: none;
}

/* touch-overlay */

.video-js .overlay-row {
	height: 100%;
	width: 100%;
	margin: 0 !important;
}

.video-js .vjs-overlay {
	position: absolute;
	padding: 0 !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
}

.vjs-overlay .control-overlay-buttons {
	display: grid;
	grid-auto-flow: column;
	height: 100%;
	width: 83% !important;
}

.vjs-overlay .overlay-button {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.visible-none {
	visibility: hidden !important;
}

.d-none {
	display: none !important;
}

.vjs-overlay .overlay-button .icon {
	z-index: 2;
	transition-duration: 1s;
	cursor: pointer;
	text-shadow: 0 0 5px #000;
}

.vjs-overlay .previous-button .icon:hover {
	transform: translateX(-25px);
}

.vjs-overlay .seek-left .icon:hover {
	transform: rotate(-50deg);
}

.vjs-overlay .play-button .icon:hover {
	transform: scale(1.2);
}

.vjs-overlay .seek-right .icon:hover {
	transform: rotate(50deg) scaleX(-1);
}

.vjs-overlay .next-button .icon:hover {
	transform: translateX(25px);
}

.vjs-control-bar {
	z-index: 2;
}

/* touch-overlay bootstrap */

.overlay-container-fluid {
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}

.overlay-row {
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(0 * -1);
	margin-right: calc(1.5rem / -2);
	margin-left: calc(1.5rem / -2);
}

.overlay-row > * {
	box-sizing: border-box;
	flex-shrink: 0;
	padding-right: calc(1.5rem / 2);
	padding-left: calc(1.5rem / 2);
	margin-top: 0;
}

.overlay-col {
	flex: 1 0 0%;
}

.overlay-col-1 {
	flex: 0 0 auto;
	width: 8.3333333333%;
}

.overlay-col-11 {
	flex: 0 0 auto;
	width: 91.6666666667%;
}

.mx-auto {
	margin: 0 auto !important;
}

/* touch-overlay font awesome */

.fa {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

.fa-2x {
	font-size: 2em;
}

.fa-4x {
	font-size: 4em;
}

.fa-flip-horizontal {
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)';
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

:root .fa-flip-horizontal {
	-webkit-filter: none;
	filter: none;
}

.fa-backward:before {
	content: '\f04a';
}

.fa-history:before {
	content: '\f1da';
}

.fa-pause:before {
	content: '\f04c';
}

.fa-play:before {
	content: '\f04b';
}

.fa-forward:before {
	content: '\f04e';
}

.fa-lock:before {
	content: '\f023';
}

.fa-unlock:before {
	content: '\f09c';
}

@font-face {
	font-family: 'Font Awesome 5 Brands';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-brands-400.eot');
	src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-brands-400.eot?#iefix')
			format('embedded-opentype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-brands-400.woff2')
			format('woff2'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-brands-400.woff')
			format('woff'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-brands-400.ttf')
			format('truetype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-brands-400.svg#fontawesome')
			format('svg');
}

.fab {
	font-family: 'Font Awesome 5 Brands';
	font-weight: 400;
}
@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-regular-400.eot');
	src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-regular-400.eot?#iefix')
			format('embedded-opentype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-regular-400.woff2')
			format('woff2'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-regular-400.woff')
			format('woff'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-regular-400.ttf')
			format('truetype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-regular-400.svg#fontawesome')
			format('svg');
}

@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.eot');
	src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.eot?#iefix')
			format('embedded-opentype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.woff2')
			format('woff2'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.woff')
			format('woff'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.ttf')
			format('truetype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.svg#fontawesome')
			format('svg');
}

.fa {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
